---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
      <div class="max-w-2xl">
        <span class="text-neutral-400 font-light">{frontmatter.name}</span>
        <h1 class="text-white mt-6 text-2xl font-light">
          {frontmatter.description}
        </h1>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-7xl mx-auto border-x border-gray border-b">
      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-3 lg:divide-x divide-gray">
        {
          frontmatter.images.map((image) => (
            <li>
              <img
                class="aspect-[384/246] object-cover bg-center h-full"
                src={image.url}
                alt={image.alt}
              />
            </li>
          ))
        }
      </ul>
      <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
        <div>
          <h2 class="text-white mt-6 text-2xl font-light">Includes</h2>
          <div class="text-neutral-400 mt-4 prose">
            <ul role="list">
              {frontmatter.includes.map((item) => <li>{item}</li>)}
            </ul>
            <div class="mt-6 not-prose">
              <a
                href={frontmatter.checkoutURL}
                class="items-center inline-flex text-sm focus:outline-none bg-gray border border-transparent duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
                >BUY {frontmatter.name}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
