---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
          <span class="text-neutral-400 font-light">{frontmatter.role}</span>
          <h1 class="text-white mt-6 text-2xl font-light">
            {frontmatter.name}
          </h1>
          <div class=" mt-12 prose-styles">
            <p>{frontmatter.intro}</p>
            <strong>Education</strong>
            <ul>
              {frontmatter.education.map((item) => <li>{item}</li>)}
            </ul>

            <strong>Experience</strong>
            <ul class="text-gray-900 font-normal">
              {frontmatter.experience.map((item) => <li>{item}</li>)}
            </ul>

          </div>
        </div>
        <img
          class="aspect-[4/3] object-cover"
          src={frontmatter.avatar.url}
          alt={frontmatter.avatar.alt}
        />
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>

  <section class="hidden">
    <div class="px-8 md:px-12 pt-12 2xl:max-w-7xl mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
        <div>
          <div>
            <p class="text-gray-900 text-2xl font-display text-balance">
              {frontmatter.role}
            </p>
            <h1
              class="text-gray-900 mt-8 text-2xl lg:text-6xl font-display max-w-6xl">
              {frontmatter.name}
            </h1>

            <p class="text-gray-900 mt-8">
              {frontmatter.intro}
            </p>
            <div class="space-y-4 mt-12 max-w-xl">
              <div class="flex flex-col">
                <p class="text-gray-900 font-semibold uppercase">Education</p>
                <ul class="text-gray-900 font-normal mt-4">
                  {frontmatter.education.map((item) => <li>{item}</li>)}
                </ul>
              </div>
              <div class="flex flex-col">
                <p class="text-gray-900 font-semibold uppercase">Experience</p>
                <ul class="text-gray-900 font-normal mt-4">
                  {frontmatter.experience.map((item) => <li>{item}</li>)}
                </ul>
              </div>
            </div>
          </div>
          <img
            class="aspect-video max-h-[70vh] w-full object-cover mt-8"
            src={frontmatter.avatar.url}
            alt={frontmatter.avatar.alt}
          />
        </div>

        <div class="text-gray-600 space-y-6 text-xl max-w-xl mt-4">
          <p class="text-gray-900 font-semibold uppercase">About</p>
          <div class="prose-styles"><slot /></div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
