---
import BaseLayout from "./BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("work");
const { frontmatter } = Astro.props;
import AllWork from "@/components/work/AllWork.astro";
---

<BaseLayout>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
      <div class="max-w-2xl">
        <span class="text-neutral-400 font-light">{frontmatter.work}</span>
        <h1 class="text-white mt-6 text-2xl font-light">
          {frontmatter.company}
        </h1>
        <div class="max-w-sm mt-12">
          {
            frontmatter.details.map((detail) => (
              <div class="grid grid-cols-1 sm:grid-cols-2">
                <p class="text-white">{detail.name}:</p>
                <p class="text-neutral-400">{detail.value}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
      <img
        class="w-full object-cover object-center"
        src={frontmatter.thumbnail.url}
        alt={frontmatter.thumbnail.alt}
      />
      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b">
      <div class="inline-flex items-center justify-between w-full">
        <div>
          <span class="text-neutral-400 font-light">Work</span>
          <h1 class="text-white mt-6 text-2xl font-light">Other projects</h1>
        </div>
        <div class="mt-6">
          <a
            href="/work/home"
            class="items-center inline-flex text-sm focus:outline-none bg-gray border border-transparent duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
            >SEE ALL WORK</a
          >
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-3 gap-x-8 gap-y-16">
        {
          allPosts.slice(0, 3).map((post) => (
            <AllWork
              url={"/work/" + post.slug}
              company={post.data.company}
              work={post.data.work}
              thumbnail={post.data.thumbnail.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
