---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <div>
        <div class="flex gap-4 items-center">
          <img
            class="size-16"
            src={frontmatter.logo.url}
            alt={frontmatter.logo.alt}
          />
          <span class="text-4xl lg:text-6xl font-medium text-black">
            {frontmatter.integration}
          </span>
        </div>
        <h1 class="text-2xl lg:text-4xl text-black mt-16 text-balance">
          {frontmatter.description}
        </h1>

        <div class="prose-styles mt-24 border-b border-gray-300">
          <slot />
        </div>
        <div class="mt-24 flex flex-col w-full max-w-xl">
          <div class="inline-flex gap-2 items-center">
            <img
              class="size-8"
              src={frontmatter.logo.url}
              alt={frontmatter.logo.alt}
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrows-left-right size-6"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M21 17l-18 0"></path>
              <path d="M6 10l-3 -3l3 -3"></path>
              <path d="M3 7l18 0"></path>
              <path d="M18 20l3 -3l-3 -3"></path>
            </svg>
            <img class="size-8" src="/logos/snowpeak.svg" alt="#_" />
          </div>
          <p class="text-2xl mt-6 font-medium text-black">
            Connect {frontmatter.integration} to Snowpeak
          </p>
          <div class="mt-6 border-t border-gray-300 pt-6">
            <p>{frontmatter.integration} would like to:</p>
            <ul class="mt-4 text-left space-y-2 text-gray-500" role="list">
              {
                frontmatter.permissions.map((permission) => (
                  <li class="flex items-center gap-3">
                    <svg
                      class="size-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      stroke="currentColor"
                      stroke-width="1.5"
                    >
                      <path
                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>{" "}
                    {permission}
                  </li>
                ))
              }
            </ul>
          </div>
          <div
            class="flex flex-col lg:flex-row gap-1 items-center mt-6 pt-6 border-t border-gray-300 w-full"
          >
            <button
              type="submit"
              class="inline-flex items-center justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-50 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100"
            >
              Cancel</button
            >
            <button
              type="submit"
              class="inline-flex items-center w-auto justify-center lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-400 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-300"
            >
              Allow access</button
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
