---
const { integration, description, logo, permissions, url } = Astro.props;
---

<li class="h-full flex flex-col justify-between bg-white p-4 lg:p-8">
  <div>
    <div class="inline-flex items-center gap-3">
      <img class="h-8" src={logo} alt={integration} />
      <p class="text-black font-medium lg:text-3xl text-xl">
        {integration}
      </p>
    </div>
    <p class="text-gray-500 mt-2 ttracking-wide">
      {description}
    </p>
  </div>
  <div
    x-data="{ open: false }"
    class="mt-10 flex flex-col sm:flex-row items-center justify-between"
  >
    <button
      x-on:click="open = true"
      class="relative inline-flex items-center text-sm justify-center px-12 py-2 overflow-hidden text-black transition duration-300 ease-out border-2 border-white rounded-full group"
    >
      <span
        class="absolute inset-0 flex items-center justify-center w-full h-full text-black duration-300 -translate-x-full bg-regent-100 group-hover:translate-x-0 ease"
      >
        →
      </span>
      <span
        class="absolute flex items-center justify-center w-full h-full text-black bg-regent-100 transition-all duration-300 transform group-hover:translate-x-full ease"
        >Connect &nbsp; &nbsp; →</span
      >
      <span class="relative invisible">See all pages</span>
    </button>
    <a
      href={url}
      title={integration}
      class="text-regent-600 hover:text-black duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-info-circle size-6"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
        <path d="M12 9h.01"></path>
        <path d="M11 12h1v4h1"></path>
      </svg>
    </a>
    <div
      x-show="open"
      style="display: none"
      x-on:keydown.escape.prevent.stop="open = false"
      role="dialog"
      aria-modal="true"
      x-id="['modal-title']"
      :aria-labelledby="$id('modal-title')"
      class="fixed inset-0 z-10 overflow-y-auto w-full"
    >
      <!-- Overlay -->
      <div
        x-show="open"
        x-transition.opacity
        class="fixed inset-0 bg-regent-200/50 w-full"
      >
      </div>
      <!-- Panel -->
      <div
        x-show="open"
        x-transition
        x-on:click="open = false"
        class="relative flex min-h-screen items-center justify-center p-4 w-full"
      >
        <div
          x-on:click.stop
          x-trap.noscroll.inert="open"
          class="relative w-full max-w-xl text-center overflow-y-auto rounded-2xl lg:rounded-[3rem] shadow-3xl bg-white p-12"
        >
          <div class="inline-flex gap-2 items-center">
            <img class="size-8" src={logo} alt={integration} />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrows-left-right size-6"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M21 17l-18 0"></path>
              <path d="M6 10l-3 -3l3 -3"></path>
              <path d="M3 7l18 0"></path>
              <path d="M18 20l3 -3l-3 -3"></path>
            </svg>
            <img class="size-8" src="/logos/snowpeak.svg" alt="#_" />
          </div>
          <h2
            class="text-2xl mt-6 font-medium text-black"
            :id="$id('modal-title')"
          >
            Connect {integration} to Snowpeak
          </h2>
          <!-- Content -->
          <p class="mt-6 text-gray-500 text-sm max-w-md mx-auto">
            Give priority to tasks and projects based on the requirements of
            your customers, and establish a closer feedback loop with them.
          </p>
          <div class="mt-6 pt-6 text-left">
            <p>{integration} would like to:</p>
            <ul class="mt-4 text-left space-y-2 text-gray-500" role="list">
              {
                permissions.map((permission) => (
                  <li class="flex items-center gap-3">
                    <svg
                      class="size-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      stroke="currentColor"
                      stroke-width="1.5"
                    >
                      <path
                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>{" "}
                    {permission}
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="flex flex-col gap-2 items-center mt-6 pt-6 w-full">
            <button
              type="submit"
              class="inline-flex items-center justify-center w-full lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-50 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100"
            >
              Cancel</button
            >
            <button
              type="submit"
              class="inline-flex items-center w-full justify-center lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-400 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-300"
            >
              Allow access</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
