---
const { page, description, icon, url } = Astro.props;
---

<a
  href={url}
  title={page}>
<div class="group h-full">
  <dt>
      <div>
        <img
          src={icon}
          alt={page}
        />
        <p class="text-black mt-8 font-medium lg:text-3xl text-xl group-hover:text-regent-600  duration-200">
          {page}
        </p>
      </div>
    </dt>
    <dd>
      <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
        {description}
      </p>
    </dd>
  </div>
</a>
