---
const { name, thumbnail, description, price, url } = Astro.props;
---

<li class="border border-gray">
  <a
    href={url}
    title={name}
    aria-label={name}
    class="flex-1 h-full flex flex-col">
    <div class="block w-full">
      <img
        class="aspect-[384/246] object-cover bg-center h-full"
       src={thumbnail}
      alt={name}
      />
    </div>
    <div
      class="flex flex-col items-start justify-between flex-1 w-full p-8 border-t border-gray">
      <div class="w-full">
        <div
          class="items-center w-full inline-flex focus:outline-none justify-between">
          <p class="text-white">{name}</p>
          <p class="text-neutral-400">${price}</p>
        </div>
        <p class="mt-2 text-sm text-neutral-400 line-clamp-3">
          {description}
        </p>
      </div>
    </div>
  </a>
</li>
