---
const { page, description, image, pubDate, url } = Astro.props;
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-12 lg:gap-32">
  <div>
    <div class="lg:sticky lg:pb-16 top-0">
      <div class="pt-8">
        <span class="uppercase tracking-wide font-medium text-regent-600">
          ⏤ {pubDate}
        </span>
      </div>
    </div>
  </div>
  <div class="lg:col-span-2 pt-8">
    <div class="flex-shrink-0">
      <div class="mx-auto">
        <img
          class="aspect-[4/3] object-cover bg-yellow-500"
          src={image}
          alt={page}
        />
        <h1 class="text-black mt-8 font-medium lg:text-3xl text-xl">
          {page}
        </h1>
        <p
          class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide line-clamp-3">
          {description}
        </p>
        <div class="mt-8">
          <a
            href={url}
            title={page}
            class="inline-flex items-center lg:text-xl justify-center w-full px-6 py-4 text-center text-yellow-900 duration-200 bg-yellow-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 ring-offset-2 hover:bg-yellow-100 lg:w-auto"
            >Read more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
