---
const faqData = [
  {
    category: "General",
    categoryClass: "bg-regent-100 text-regent-800",
    focusClass: "focus:text-regent-600",
    topics: [
      {
        title: "Research & Planning",
        content:
          "Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks, and seasonal special events.",
      },
      {
        title: "Design & Development",
        content:
          "Once we have a plan in place, we move on to the design and development stage. Here, our team of experts uses the latest tools and technologies to create high-quality products that meet the needs of our clients.",
      },
      {
        title: "Testing & QA",
        content:
          "We understand the importance of quality assurance and testing, and we take this stage very seriously. Our team conducts rigorous testing to ensure that all products are bug-free, reliable, and user-friendly.",
      },
    ],
  },
  {
    category: "Compatibility",
    categoryClass: "bg-lila-100 text-lila-800",
    focusClass: "focus:text-lila-500",
    topics: [
      {
        title: "Launch & Deployment",
        content:
          "After extensive testing, it's time to launch and deploy our products. Our team works diligently to ensure a smooth rollout and provides ongoing support to ensure that everything runs smoothly.",
      },
      {
        title: "Growth & Optimization",
        content:
          "We don't stop after launch - we are always looking for ways to improve and optimize our products. We use data and analytics to identify areas for improvement and work to implement changes that will drive growth and success.",
      },
      {
        title: "Innovation & Future Planning",
        content:
          "We are committed to staying ahead of the curve and constantly pushing the boundaries of what's possible. Our team is always exploring new technologies and ideas to ensure that we stay at the forefront of innovation and continue to deliver exceptional products and services.",
      },
    ],
  },
  {
    category: "Sustainability Initiatives",
    categoryClass: "bg-yellow-400 text-yellow-800",
    focusClass: "focus:text-yellow-600",
    topics: [
      {
        title: "Eco-Friendly Materials",
        content:
          "Our commitment to sustainability is reflected in our choice of eco-friendly materials. We strive to minimize environmental impact by using recycled and sustainable resources whenever possible.",
      },
      {
        title: "Energy Efficiency",
        content:
          "We implement energy-efficient practices in our operations to reduce our carbon footprint. From solar panels to energy-saving technologies, we are dedicated to conserving energy and protecting the planet.",
      },
      {
        title: "Community Engagement",
        content:
          "Sustainability goes beyond environmental practices. We actively engage with our community through educational programs and initiatives aimed at promoting sustainability and environmental awareness.",
      },
    ],
  },
];
---

<section>
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32"
  >
    <p class="text-4xl lg:text-6xl font-medium text-black">Roadmap</p>

    <div class="space-y-24 mt-24">
      {
        faqData.map((section, sectionIndex) => (
          <div>
            <div
              class={`inline-flex items-center rounded-full px-4 py-2 text-sm font-medium ${section.categoryClass}`}
            >
              {section.category}
            </div>
            <div class="mt-6 divide-y space-y-3 divide-gray-300">
              {section.topics.map((topic, topicIndex) => (
                <details>
                  <summary
                    class={`text-black text-base lg:text-2xl cursor-pointer font-medium         i py-3 text-left w-full ${section.focusClass}`}
                  >
                    {topic.title}
                  </summary>
                  <p class="text-gray-500 text-sm pt-5 lg:text-xl">
                    {topic.content}
                  </p>
                </details>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
