---
const { name, role, avatar, url } = Astro.props;
---

<li>
  <a
    href={url}
    title={name}
    aria-label={name}
    class="flex flex-col h-full gap-4">
    <img
      class="w-full h-full object-cover"
      src={avatar}
      alt={name}
    />
    <div
      class="">
      <h1 class="text-white font-light">{name}</h1>
      <p class="text-neutral-400 mt-1">{role}</p>
    </div>
  </a>
</li>
