---
const { company, thumbnail, url } = Astro.props;
---

<li>
  <a
    href={url}
    title={company}
    aria-label={company}
    class="h-full">
    <img
      class="w-full aspect-[4/3]"
      src={thumbnail}
      alt={company}
    />
  </a>
</li>
