---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import CtaThree from "@/components/cta/CtaThree.astro";
---

<BaseLayout>
  <section>
    <img
      class="w-full h-[60vh] 2xl:h-[40vh] object-cover "
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
    />
    <div
      class="mx-auto md:px-12 px-8 max-w-7xl lg:px-24 w-full items-center py-12 lg:pb-24">
      <div>
        <div class="mx-auto prose-styles">
          <span class="uppercase tracking-wide font-medium text-regent-600">
            ⏤ Written by: {frontmatter.author} on {
              frontmatter.pubDate.toString().slice(0, 10)
            }
          </span>
          <p
            class="text-4xl lg:text-7xl        font-medium text-black uppercase">
            {frontmatter.title}
          </p>
          <p class="mx-auto font-medium text-regent-600">
            <em>{frontmatter.description}</em>
          </p>
          <div class="flex flex-wrap gap-3">
            {
              frontmatter.tags.map((tag) => (
                <a
                  class="text-regent-600  hover:text-regent-500 text-xs "
                  href={`/tags/${tag}`}>
                  {tag}
                </a>
              ))
            }
          </div>

          <div class="mt-12"><slot /></div>
        </div>
      </div>
    </div>
  </section>
  <CtaThree />
</BaseLayout>
